.settings
.gradle
.classpath
.project
bin
build
.RData
.Rhistory
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/mean-csv/CODAchain1.txt
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/mean-csv/CODAindex.txt
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/mean-csv/codaPlots.pdf
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/mean-csv/mean.csv
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/realization-csv/CODAchain1.txt
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/realization-csv/CODAindex.txt
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/realization-csv/codaPlots.pdf
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/realization-csv/realization.csv
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/variance-csv/CODAchain1.txt
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/variance-csv/CODAindex.txt
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/variance-csv/codaPlots.pdf
results/all/jarjar.org.gradle.process.internal.launcher.GradleWorkerMain-CwfOJ2JZ.exec/variance-csv/variance.csv
results/latest
results
doc/example-accessibility-graph.dot
doc/example-accessibility-graph2.dot
doc/example-accessibility-graph3.dot
example-accessibility-graph4.dot
example-accessibility-graph4.pdf
doc/after-gen.dot
doc/before-gen.dot
final-gen.dot
doc/corresponding-access-graph.dot
doc/factor-graph.dot
